# /etc/ngnix/Content-Security-Policy.nginx
#
add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google-analytics.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://www.gstatic.com; font-src 'self' data: https://fonts.gstatic.com https://www.gstatic.com; img-src 'self' data: https://ps.w.org/ https://ssl.gstatic.com/ https://secure.gravatar.com/ https://www.google-analytics.com; child-src 'self' https://api-b339ce13.duosecurity.com; report-uri https://johngallias.report-uri.io/r/default/csp/enforce";
