# /etc/ngnix/Content-Security-Policy.nginx
#
add_header Content-Security-Policy "default-src 'self' https://fftf-host-counter.herokuapp.com/; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google-analytics.com https://www.google.com/recaptcha/ https://www.gstatic.com/recaptcha/ https://www.blackoutcongress.org/ https://widget.battleforthenet.com https://fftf-geocoder.herokuapp.com/; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://www.gstatic.com; font-src 'self' data: https://fonts.gstatic.com https://www.gstatic.com; img-src 'self' data: https://ps.w.org/ https://ssl.gstatic.com/ https://secure.gravatar.com/ https://www.google-analytics.com; child-src 'self' https://api-b339ce13.duosecurity.com https://www.google.com/recaptcha/; report-uri https://johngallias.report-uri.io/r/default/csp/enforce";
